extends layout

block header

block content
  h1= title
  form(name="add-load", method="post", id='forms')
    div.input
      p.label Load Description
      input(type="text", name="loadDescription")
      p.label Caliber
      select(id="xxx", name="loadCaliber")
        each cal in caliber
          option(value="#{cal.calName}") #{cal.calName}
      p.label Powder
      select(id="xxx", name="loadPowder")
        each pow in powder
          option(value="#{pow.powderName}") #{pow.powderName}
      p.label Powder Weight
      input(type="text", name="loadPowderWeight")
      p.label Bullet Details
      input(type="text", name="loadBullet")
      p.label Bullet Diameter
      input(type="text", name="loadBulletDiameter")
      p.label Bullet Composition
      input(type="text", name="loadBulletComposition")
      input(type="submit", name="submit")
