extends layout

block header

block content
  h1= title
  table(id="customers")
    thead
      tr
        th Load Name
        th Load Description
        th Load Caliber
        th Load Powder
        th Load UUID
      tbody
        each item in data
          - console.log(JSON.stringify(item));
          tr
            - if (typeof(item.loadName) !== 'undefined'){
            td= item.loadName.S
            - }
            - if (typeof(item.loadDescription) !== 'undefined'){
            td= item.loadDescription.S
            - }            
            - if (typeof(item.loadCaliber) !== 'undefined'){
            td= item.loadCaliber.S
            - }            
            - if (typeof(item.loadPowder) !== 'undefined'){
            td= item.loadPowder.S
            - }            
            - if (typeof(item.loadUUID) !== 'undefined'){
            td= item.loadUUID.S
            - }
