extends layout

block header


block content
  h1= title
  form(name="edit-user", method="post", id="forms")
    div.input
      span.label IdP ID
      input(type="text", name="userIdPId", value=data[0].userIdPId)
    div.input
      span.label IdP Display Name
      input(type="text", name="IdPDisplayName", value=data[0].IdPDisplayName)
    div.input
      span.label Preferred Display Name
      input(type="text", name="preferredDisplayName", value=data[0].preferredDisplayName)
    div.input
      span.label IdP Email address
      input(type="text", name="userIdPEmail", value=data[0].userIdPEmail)
    div.input
      span.label User Class (user/admin)
      input(type="text", name="userClass", value=data[0].userClass)
    div.action
      input(type="submit", name="submit")
      input(type="hidden", name="userId", value=data[0]._id)

  a(href='deleteUser?userId=' + data[0]._id)
    img.image(src='small-delete-hi.png' height='20px')
  |  delete 