extends layout

block header

block content
  h1= title
  table(id="customers")
    thead
      tr
        th Caliber Name
        th Caliber Class
        th Case Type
        th Primer Type
      tbody
        each item in data
          - console.log(JSON.stringify(item));
          tr(onclick="javascript:location.href='editCaliber?caliberId=" + item._id + "'")  
            - if (typeof(item.calName) !== 'undefined'){
            td= item.calName
            - }
            
            - if (typeof(item.calClass) !== 'undefined'){
            td= item.calClass
            - }
            - if (typeof(item.caseType) !== 'undefined'){
            td= item.caseType
            - }
            - if (typeof(item.primerType) !== 'undefined'){
            td= item.primerType
            - }


            
           
       
