extends layout

block header

block content
  h1= title
  a(href="/addPowders")
    img(src="add.jpg" width="30")
  table(id="customers")
    thead
      tr
        th Powder Name
        th Powder Brand
        th Powder Class
        th Powder Notes
      tbody
        each item in data
          - console.log(JSON.stringify(item));
          tr(onclick="javascript:location.href='editPowder?powderId=" + item._id + "'")
            - if (typeof(item.powderName) !== 'undefined'){
            td= item.powderName
            - }            
            - if (typeof(item.powderBrand) !== 'undefined'){
            td= item.powderBrand
            - }
            - if (typeof(item.powderClass) !== 'undefined'){
            td= item.powderClass
            - }
            - if (typeof(item.powderNotes) !== 'undefined'){
            td= item.powderNotes
            - }   
